.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.name {
  animation: name-spin 10s infinite linear;
}

.logo {
  animation: logo-spin 10s infinite linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes name-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
